body{
    background-color: black;
    color: white;
    
}

*{
    margin: 0;
    padding: 0;
}
.left{
    width:25vw;
    /* padding: 6px; */
}
.right{
    width:71vw;
    margin: 18px 0;
    position: relative;
}
.logo ul li{
    width:15px;
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 5px;
    padding-top: 10px;
    /* font-weight: bold; */
    /* height: 40px; */
}
.logo{
    padding: 20px;
    border-radius: 5px;
}
.libary{
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    /* margin: 5px; */
    min-height: 71vh;
    position: relative;
   

}
.footer {
    display: flex;
    font-size: 15px;
    gap: 13px;
    position: absolute;
    bottom: 0;
        /* padding: 10px; */
    

}
.footer a{
    color: gray;
    text-decoration: none;
}
.header{
    display: flex;
    /* gap: 20px; */
    /* padding: 20px; */
    justify-content: space-between;
    background-color: rgb(31, 29, 29);
    height: 80px;
    
}
.header  > *{
    padding: 20px;
}
/* .header button{ */
    /* background-color: rgb(31, 29, 29);
    color: white;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 20px; */
/* } */
.Spotify-Playlist{
    /* background-color: rgb(31, 29, 29); */
    /* height: 20vh; */
    margin: 20px;
    border-radius: 5px;
}
.card{
    width:195px;
        background-color: rgb(31, 29, 29);
        border-radius: 5px;
        padding: 10px;
        position: relative;
        /* height: 300px; */
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    /* height: 250px; */

}
.card > *{
    padding-top: 10px;
}
.cardcontainer{
    display: flex;
    gap: 20px;
    padding: 13px; 
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 63vh;   
}
.playbutton{
    position: absolute;
    top: 58%;
    left: 68%;
    right: 10px;
    height: 30px;
    opacity: 1;
    transition: all 1s ease-out;
    /* transform: translate(-50%, -50%); */
    
}
.buttons > *{
   margin: 0 12px;
}
.signupbtn{
    background-color: rgb(31, 29, 29);
    color: rgb(132, 128, 128);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    /* border: 1px solid white; */
    /* padding: 5px 15px; */
    /* border-radius: 20px; */
}
.signupbtn:hover{
    color: white;
    font-size: 17px;
}
.loginbtn{
    background-color: white;
    color: black;
    /* font-weight: bold; */
    cursor: pointer;
    font-size: 16px;
    padding: 15px ;
    border-radius: 20px;
    width :90px;
    border: none;
    outline: none;
    font-weight: 600;
    /* font-style: italic; */
}
.loginbtn:hover{
    /* background-color: rgb(31, 29, 29);
    color: white; */
    /* font-size: 17px; */
    /* padding: 14px 14px; */
    
    font-weight: bold;
    background-color: rgb(31, 29, 29);
    color: white;
    border: 1px solid white;
    /* padding: 5px 15px; */
    border-radius: 20px;
}
.playbar{
    position: absolute;
    bottom: 0;
    padding: 12px;
    width: 90%;
    background-color: rgb(0, 0, 0);
}
.songbuttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 40px;
}
.libary ul{
    list-style: none;
    padding: 10px;
}
.libary ul li{
    list-style-type: decimal;
    padding: 5px;
}
