ody{
    background-color: black;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
.left{
    width:25vw;
    padding: 6px;
}
.right{
    width:75vw;
}
.logo ul li{
    width:15px;
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 5px;
    padding-top: 10px;
    /* font-weight: bold; */
    /* height: 40px; */
}
.logo{
    padding: 20px;
    border-radius: 5px;
}
.libary{
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
    min-height: 80vh;
    position: relative;
   

}
.footer {
    display: flex;
    font-size: 15px;
    gap: 13px;
    position: absolute;
    bottom: 0;
        /* padding: 10px; */
    

}
.footer a{
    color: gray;
    text-decoration: none;
}
.header{
    display: flex;
    gap: 20px;
    padding: 20px;
}
