.border{
    border: 1px solid black;
    /* margin: 3px; */
}
.flex{
    display: flex;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color: rgb(42, 42, 42);
}
.m-1{
    margin: 10px;
}
.p-1{
    padding: 10px;
}
.rounded{
    border-radius: 5px;
}